
    <app-appheader></app-appheader>
    <app-appmenu></app-appmenu>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <app-appsettings></app-appsettings>
    <app-appfooter></app-appfooter>
  
<!--</body>-->
