<header class="main-header">
  <!-- Logo -->
  <a class="logo" [routerLink]="['/home']">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>BF</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">WorkForce</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">       
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!--<img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
            <span >Admin</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <!--<li class="user-header">
              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>
                Admin
              </p>
            </li>-->           
            <!-- Menu Footer-->
            <li class="user-footer">             
              <div class="pull-right">
                <a href="javascript:void(0)" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
